body{
    margin: 0 45px;
    background-color: #0e0e0e;
}

header{
    padding: 0 220px ;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.header-title{
    color: #f9faf8;
    font-size: 24px;
}

.header-ul{
    width: 520px;
    margin: auto 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.header-ul li{
    list-style: none;
    color: #e5e7eb;
    margin: 0 20px;
    font-size: 18px;
}


.hero{
    background-color: #1f2937;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 380px;
    padding-top: 80px;
}

.hero-article{
    width: 400px;
    margin-right: 100px;
}

.hero-article h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero-article p{
    color: #e5e7eb;
    font-size: 18px;
}

.hero-article button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
}

.hero img{
    width: 500px;
    height: 250px;
    margin: auto 0;
}


.sec2{
    background-color: white;
    margin: 0;
}

.sec2 h2{
    padding-top: 40px;
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.sec2 p{
    text-align: center;
}

.sec2-container{
    margin: 40px 300px 0 300px;
    display: flex;
    justify-content: space-around;
}

.sec2-container-into{
    width: 160px;
    margin-bottom: 140px;
}

.sec2-img{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.quote{
    background-color: #e5e7eb;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote article{
    width: 800px;
}

.quote-p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.quote-b{
    margin: 0;
    text-align: end;
    font-size: 26px;
    color: #1f2937;
}

.call-sec{
    background-color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-sec-container{
    width: 1020px;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-sec h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: #f9faf8;
}

.call-sec p{
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}
.call-sec button{
    width: 130px;
    height: 40px;
    border: 3px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

footer{
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    text-align: center;
    color: #e5e7eb;
    margin: 0;
    font-size: 18px;
}